
.contactsH2 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
}
.form { 
    display: flex;
    justify-content: center;
    margin: auto 25px;
}

.formInput {
    
    margin: 20px 0;
    
  
}
.inputLabel {
    color: rgb(0, 60, 255);
    font-weight: 700;
}

.input {
    margin-left: 20px;
    border: 1px solid blue;
}
.contact {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;

}

.listBtn {
    background-color: bisque;
    padding: 0px 10px;
    margin-left: 20px;
    border-radius: 5px;
}

.listBtn:hover {
    cursor: pointer;
}

.clearBtn {
    padding: 0;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    width: 25px;
    height: 25px;
    margin: 20px;
}

.clearBtn:hover {
    cursor: pointer;
}